/* Style.scss for the styling of my personal site
Build by Johan Bijlsma | johan.bijlsma24@gmail.com | @johanbijlsma  */
@import "variables";
@import "mixins";
@import "layout";

/* Importing and executing normalize for consistent styling across browsers
https://necolas.github.io/normalize.css/ */

@import "normalize";
@include normalize();

@import url("https://fonts.googleapis.com/css?family=Lora|Muli");

body {
  background: $bg-color;
  font-family: "Muli", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .header__image {
    background: url("~./assets/images/ilya-pavlov-87438.jpg") no-repeat;
    // margin: -40px calc(-#{$margin-10}*2) -300px;
    height: 50vh;
    background-size: cover;
    // overflow: hidden;
    background-attachment: fixed;
    @media screen and ($md-down) {
      height: 20vh;
    }
  }

  .footer__image {
    background: url("~./assets/images/schotland.jpeg") no-repeat top center;
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    &--link,
    a {
      margin: auto;
      max-width: 200px;
      color: $off-white;
      text-align: center;
      flex-grow: 1;
      min-height: 9rem;
      padding: 2rem;
      svg {
        animation: footerlinks 350ms 200ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
        width: 50px;
        height: 50px;
        path {
          fill: $off-white;
        }
        g {
          fill: $off-white;
        }
      }
      &:hover,
      &:focus {
        background: $accent-bright;
        animation: colorfade 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
        transition: background 20ms 40ms ease-in-out,
          flex-grow 0.56s 40ms ease-in-out, box-shadow 20ms 40ms ease-in-out;
        margin: auto;
        flex-grow: 2;
        min-height: 9rem;
        padding: 2rem;
        box-shadow: 0px 0px 1rem rgba(255, 255, 255, 0.5);
        svg {
          width: 51px;
          height: 51px;
        }
      }
      &-text{
        display: block; //to make sure that short links will alwayrs be on a new line
        opacity: 0;
        animation: increaseOpacity 1s 800ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
      }
    }
  }
}
// #app is inside the Vue.js app
#app {
  color: $nearly-black;

  // $color-key: random(4);

  // $color-list: $bg-color, $accent-bright, $text-color, $accent-soft;
  // $nth: nth($color-list, $color-key);
  .header__container {
    background: $bg-color;
    position: relative;
    border-radius: 0.8rem;
    overflow: auto;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.5);

    &--buttons {
      margin: 0 0 0 -20px;
      ol {
        list-style: none;
        li {
          display: inline;
          font-size: 0;
          padding-right: 0.3rem;
          &:before {
            content: "";
            width: 15px;
            height: 15px;
            background: $osx-close;
            display: inline-block;
            border-radius: 50%;
            border: darken($osx-close, 20%) 0.15rem solid;
          }
          &:nth-child(2):before {
            background: $osx-minimize;
            border: darken($osx-minimize, 20%) 0.15rem solid;
          }
          &:nth-child(3):before {
            background: $osx-full;
            border: darken($osx-full, 20%) 0.15rem solid;
          }
        }
      }
    }
  }
  .pageheader {
    padding: 0 1.5rem;
    color: $off-white;
    // @include textshadow;
    font-size: calc(1.5rem + 1.5vw);
    font-family: monospace;
    background: $bg-color;
    line-height: calc(2.5rem + 1.5vw);
    font-weight: 100;
    @media screen and ($md-down) {
      display: none;
    }
    &::after {
      content: "|";
      animation: blink 1s step-end infinite;
      font-weight: 100;
      text-shadow: none;
      color: $off-white;
    }
    &::before {
      content: " >_ whoami ";
      opacity: 0.4;
      display: block;
      @media screen and ($md-down) {
        font-size: 0;
      }
    }
    &--scroll {
      //not used
      @extend .pageheader;
      position: sticky;
      background: $off-white;
    }
  }
}

// header {
//   .header__image {
//     background: url("~./assets/images/ilya-pavlov-87438.jpg");
//     // margin: -40px calc(-#{$margin-10}*2) -300px;
//     height: 400px;
//     background-size: cover;
//     // overflow: hidden;
//     background-attachment: fixed;
//     background-position: 60% 90%;
//   }
// }

// body {
//   .footer__image {
//     background: url("~./assets/images/schotland.jpg") no-repeat top center;
//     // margin: -40px calc(-#{$margin-10}*2) -300px;
//     height: 400px;
//     background-size: cover;
//     // overflow: hidden;
//     background-attachment: fixed;
//     // background-position: 60% 90%;
//   }
// }

.blinking-cursor {
  animation: blink 1s step-end infinite;
}

.navigation__container {
  position: fixed;
  top: 0;
  right: 0;
  background: $off-white-trans;
  padding: $padding-1;
  width: 100vw;
  z-index: $z-master;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  ul {
    list-style: none;
    text-align: right;
    // @media screen and ($md-down) {
    //   display: none;
    // }
  }
  &--links {
    padding-right: $padding-1;
    display: inline-block;
    > a {
      color: $accent-bright;
      font-weight: 700;
      padding: $padding-1;
      &.active {
        background: $accent-soft;
        color: $off-white;
        text-decoration: none;
      }
    }
  }
  input[type="checkbox"]{
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    &:checked ~ label{
      background: $accent-bright;
    }
      &:checked ~ ul.menu{
        display: block !important;
        flex-direction: column;
        li a{
          width: 80vw;
          display: block;

        }
      }
      &:not(:checked) ~ ul.menu{
        display: none;
        // outline: 10px solid red;
        @media ($md-up) {
          display: block;
        }
      }
     }
  label{
    display: inline-block;
    padding-right: $padding-1;
    color: $accent-bright;
    font-weight: 700;
    padding: $padding-1;
    background: $accent-soft;
    color: $off-white;
    text-decoration: none;
    @media ($md-up) {
      display: none;
    }
}
}

.projects {
  list-style: none;
  margin-left: 0;
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap;
  &__link {
    margin-bottom: 1rem;
    background: yellowgreen;
    padding: $padding-1;
    position: relative;
    width: 40vw;
    @media screen and ($lg-up) {
      width: 35vw;
    }
    @media screen and ($xlg-only) {
      width: 30vw;
    }
    @media screen and ($md-down) {
      width: 100vw;
    }
    &:nth-child(odd) {
      background: $text-color;
    }
  }
  &__title {
    color: $off-white;
    text-shadow: 1px 1px $accent-soft;
    font-weight: 700;
  }
  &__intro {
    font-weight: 100;
    float: left;
  }
  &__img {
    display: block;
    width: 100%;
    height: auto;
    margin: -20px 0 0 0;

    [src=" "] {
      background: #e5e5e5;
      &:before {
        content: "JB";
        color: $nearly-black;
        font-family: "lora", serif;
        text-shadow: 1px 1px $accent-soft;
        opacity: 0.2;
        text-align: center;
        width: 100%;
        display: block;
        padding: 2rem;
      }
    }
    &--extra-padding {
      padding: 1.3rem;
    }
    @media screen and ($lg-down) {
      width: 100%;
      clear: both;
      margin: $margin-1 0;
    }
  }
  &__externalLink,
  a {
    padding: $padding-2;
    border: $off-white-trans dashed 1px;
    display: inline-block;
    background-color: $off-white-trans-2;
    color: $accent-bright;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    text-align: center;
    &--site {
      &:after {
        content: "";
        background: url(~./assets/images/np_earth_888750_FFFFFF.svg) no-repeat;
        background-size: contain;
        height: 2rem;
        width: 2rem;
        display: inline-block;
        vertical-align: middle;
        padding: $padding-05;
      }
      &:hover {
        background: $accent-bright;
        color: $off-white;
      }
      &:focus {
        background: $accent-bright;
        color: $off-white;
      }
    }
    &--repo {
      // background: hotpink;
      &:after {
        content: "";
        background: url(~./assets/images/Git-Logo-White.png) no-repeat;
        background-size: contain;
        height: 2rem;
        width: 3.5rem;
        display: inline-block;
        vertical-align: middle;
        padding: $padding-05;
      }
      &:hover {
        background: $osx-minimize;
        color: $off-white;
      }
      &:focus {
        background: $osx-minimize;
        color: $off-white;
      }
    }
  }
  &__taxonomy {
    list-style: none;
    margin-left: 0;
    padding: 0 !important;
    .tag {
      background: yellow;
      display: inline-block;
      padding: $padding-05;
      transform: skew(-25deg);
      margin: $margin-05;
      box-shadow: 3px 4px 6px 1px $accent-bright;
      > span {
        transform: skew(25deg);
        display: inline-block;
        font-size: 0.85rem;
      }
    }
  }
}

section.offline {
  background: $accent-soft;
  margin: $margin-2 (-$margin-2);
  padding: $padding-2 $padding-4;
  border-radius: 3px;
  border-top: 3px solid (darken($accent-soft, 80));
  color: $off-white;
}

.contact__list {
  flex-direction: column;
  list-style-type: none;
  display: flex;
  margin: $margin-3 $margin-3 $margin-3 -$margin-3;
  @media ($md-up){
    flex-direction: row;
  }
  .contact__buttons {
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 20%;
    margin: 30px 30px 30px -19px;
    a,
    .contact__link {
      padding: $padding-1;
      background: $accent-bright;
      color: $off-white;
      transition: $transition--slow;
      border: 3px solid transparent;
      text-align: center;
      &:hover,
      &:focus {
        // background: $accent-soft;
        box-shadow: inset 0 60px 0px $accent-soft;
        border: 3px solid complement($accent-soft);
        transition: $transition;
      }
    }
  }
}